.kitchen-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.toggle {
  position: fixed;
  right: 5rem;
  margin-top: 0.7rem;
  z-index: 100;
}

.order-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-height: calc(100vh - 190px);
  overflow-y: auto;
}

.order-section .section-title {
  position: sticky;
  top: 0;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  z-index: 10;
  color: #000;
}

.cards {
  padding: 1rem;
}
